@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Fraunces:opsz,wght@9..144,700&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  height: 100vh;
  display: grid;
  place-content: center;
  background: hsl(27, 66%, 92%);
  font-family: "DM Sans";
}

main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.orange {
  background: #ec755d;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 280px;
  padding: 27px 39px 25px 32px;
}

.orange-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.orange-content > h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;

  color: #ffffff;
}

.orange-content > h2 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;

  color: #fffbf6;
}

.logo {
  position: relative;
  width: 72px;
  height: 48px;
}

.white-logo {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border: 2px solid white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.black-logo {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background: black;
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 540px) {
  body {
    padding-inline: 16px;
  }
  main {
    flex-basis: 100%;
  }
  .orange {
    border-radius: 10px;
    gap: 155px;
    padding: 20px 24px 22px 20px;
  }

  .orange-content {
    gap: 4px;
  }

  .orange-content > h1 {
    font-size: 15px;
    line-height: 20px;
  }

  .orange-content > h2 {
    font-size: 24px;
    line-height: 31px;
  }

  .logo {
    width: 60px;
    height: 40px;
  }

  .white-logo,
  .black-logo {
    width: 40px;
    height: 40px;
  }
}

/* white section* */

.white {
  padding: 2rem 40px 40px 40px;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 18px;
  border-radius: 20px;
}

.white > h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;

  color: #382314;
}

@media (max-width: 540px) {
  .white {
    padding: 24px 20px 24px 20px;
    gap: 14px;
    border-radius: 10px;
  }

  .white > h2 {
    font-size: 24px;
    line-height: 31px;
  }
}

.chart-container {
  flex-basis: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 48px;
}

.chart-container::after {
  content: "";
  background: #f8e9dd;
  border-radius: 1px;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: -32px;
}

.chart {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

/* .chart > p {
  text-align: center;
} */

.chart-amount {
  padding: 8px;
  background: #382314;
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;

  color: #fffbf6;
}

.hidden {
  opacity: 0;
}

.block,
.block-high {
  width: 50.36px;
  background: #ec755d;
  border-radius: 5px;
}

.blue {
  background: #76b5bc;
}

.chart:hover > .hidden {
  opacity: 1;
}

.chart:hover > .block {
  background: #ff9b86;
}

.chart:hover > .block-high {
  background: #b4e0e5;
}

@media (max-width: 540px) {
  .chart-container {
    margin-bottom: 28px;
  }

  .chart-container::after {
    bottom: -24px;
  }
  .chart {
    gap: 11px;
  }

  .chart-amount {
    padding: 6px;
    font-size: 12px;
    line-height: 18px;
  }

  .block,
  .block-high {
    width: 30px;
    border-radius: 3px;
  }
}

.total {
  display: flex;
  justify-content: space-between;
  padding-block: 1px;
}

.total-left > p:first-of-type {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;

  color: #92857a;
}

.total-expense {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;

  color: #382314;
}

@media (max-width: 540px) {
  .total {
    padding-block: 0px;
  }
  .total-left {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .total-left > p:first-of-type {
    font-size: 15px;
    line-height: 20px;
  }

  .total-expense {
    font-size: 30px;
    line-height: 39px;
  }
}

.total-right {
  align-self: flex-end;
  justify-self: flex-end;
}

.total-right > p:first-of-type {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  text-align: right;

  color: #382314;
}

.total-right > p:last-of-type {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;

  color: #92857a;
}

@media (max-width: 540px) {
  .total-right > p:first-of-type,
  .total-right > p:last-of-type {
    font-size: 15px;
    line-height: 20px;
  }
}
